        <a href="#" class="nav-link w-nav-link">Home</a>
        <a href="#" class="nav-link w-nav-link">Docs</a>
        <a href="https://medium.com/@suign" class="nav-link w-nav-link">Medium</a>
        <a href="https://github.com/suiGn" class="nav-link w-nav-link">GitHub</a>