<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>neurons.me</title>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="web/plugins/bootstrap/dist/css/bootstrap.css">
    <!-- Fonts-->
    <link rel="stylesheet" type="text/css" href="web/plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="web/plugins/font-awesome/css/font-awesome.min.css">
    <!-- Primary Style-->
    <link rel="stylesheet" type="text/css" href="web/build/css/neurons.css">
  
  </head>
  <body>
    <!-- Main Sidebar start-->
    <aside class="main-sidebar pinned">
 
      <div class="profile">
		  <img src="http://thevault.herokuapp.com/static/media/neurons-brain.png" alt="neurons.me" class="avatar">
		  
        <div class="text-muted" style="margin-top: 21px;">Docs</div>
      </div>
      <!-- Nav tabs-->
   
      <!-- Tab panes-->
      <div class="tab-content nav-sidebar-content">
        <div id="menu" role="tabpanel" class="tab-pane fade in active">
          <ul class="list-unstyled navigation mb-0">
            <li class="header">Main</li>
            <li><a href="index.html" class="bubble"><i class="ti-home"></i> Home<span class="badge bg-danger">3</span></a></li>
            <li class="panel"><a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse2" aria-expanded="false" aria-controls="collapse2" class="collapsed"><i class="ti-palette"></i> Skins</a>
              <ul id="collapse2" class="list-unstyled collapse">
                <li><a href="red-skin.html">Red</a></li>
                <li><a href="green-skin.html">Green</a></li>
                <li><a href="yellow-skin.html">Yellow</a></li>
              </ul>
            </li>
            <li class="header">Components</li>
            <li class="panel"><a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse3" aria-expanded="false" aria-controls="collapse3" class="collapsed"><i class="ti-receipt"></i> Basic</a>
              <ul id="collapse3" class="list-unstyled collapse">
                <li><a href="buttons.html">Buttons</a></li>
                <li><a href="carousels.html">Carousels</a></li>
                <li><a href="containers.html">Containers</a></li>
                <li><a href="dialogs.html">Dialogs</a></li>
                <li><a href="basic-inputs.html">Inputs</a></li>
                <li><a href="navigations.html">Navigations</a></li>
                <li><a href="progress-bars.html">Progress bars</a></li>
                <li><a href="typography.html">Typography</a></li>
              </ul>
            </li>
            <li class="panel"><a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse4" aria-expanded="false" aria-controls="collapse4" class="collapsed"><i class="ti-ruler-pencil"></i> Editors</a>
              <ul id="collapse4" class="list-unstyled collapse">
                <li><a href="summernote.html">Summernote</a></li>
                <li><a href="bootstrap-markdown.html">Bootstrap markdown</a></li>
                <li><a href="code-prettify.html">Code prettify</a></li>
                <li><a href="ckeditor.html">CKEditor</a></li>
              </ul>
            </li>
            <li class="panel"><a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse5" aria-expanded="false" aria-controls="collapse5" class="collapsed"><i class="ti-location-arrow"></i> Pickers</a>
              <ul id="collapse5" class="list-unstyled collapse">
                <li><a href="color-picker.html">Color picker</a></li>
                <li><a href="datetime-picker.html">Datetime picker</a></li>
                <li><a href="clock-picker.html">Clock picker</a></li>
                <li><a href="date-range-picker.html">Date range picker</a></li>
                <li><a href="multi-select.html">Multi select</a></li>
              </ul>
            </li>
            <li class="panel"><a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse6" aria-expanded="false" aria-controls="collapse6" class="collapsed"><i class="ti-layers-alt"></i> Forms</a>
              <ul id="collapse6" class="list-unstyled collapse">
                <li><a href="form-layouts.html">Layouts</a></li>
                <li><a href="jquery-validation.html">Validation</a></li>
                <li><a href="jquery-steps.html">Wizard</a></li>
                <li><a href="other-plugins.html">Other plugins</a></li>
              </ul>
            </li>
            <li class="panel"><a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse7" aria-expanded="false" aria-controls="collapse7" class="collapsed"><i class="ti-face-smile"></i> Icons</a>
              <ul id="collapse7" class="list-unstyled collapse">
                <li><a href="glyphicons.html">Glyphicons</a></li>
                <li><a href="font-awesome.html">Font awesome</a></li>
                <li><a href="material-design.html">Material design</a></li>
                <li><a href="themify.html">Themify</a></li>
              </ul>
            </li>
          
          
            <li class="header">Help</li>
            <li><a href="documentation.html"><i class="ti-help-alt"></i> Documentation</a></li>
            <li class="header">Menu Levels</li>
            <li class="panel"><a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse18" aria-expanded="false" aria-controls="collapse18" class="collapsed"><i class="ti-folder"></i> Menu levels</a>
              <ul id="collapse18" class="list-unstyled collapse">
                <li><a href="#">Menu level 2.1</a></li>
                <li class="panel"><a role="button" data-toggle="collapse" data-parent="#collapse18" href="#collapse21" aria-expanded="false" aria-controls="collapse21" class="collapsed">Menu level 2.2</a>
                  <ul id="collapse21" class="list-unstyled collapse">
                    <li><a href="#">Menu level 3.1</a></li>
                    <li class="panel"><a role="button" data-toggle="collapse" data-parent="#collapse21" href="#collapse31" aria-expanded="false" aria-controls="collapse31" class="collapsed">Menu level 3.2</a>
                      <ul id="collapse31" class="list-unstyled collapse">
                        <li><a href="#">Menu level 4.1</a></li>
                        <li class="panel"><a role="button" data-toggle="collapse" data-parent="#collapse31" href="#collapse41" aria-expanded="false" aria-controls="collapse41" class="collapsed">Menu level 4.2</a>
                          <ul id="collapse41" class="list-unstyled collapse">
                            <li><a href="#">Menu level 5.1</a></li>
                            <li><a href="#">Menu level 5.2</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <div class="header">Server Status</div>
          <ul class="list-unstyled pl-15 pr-15">
            <li class="mb-20">
              <div class="block clearfix mb-10"><span class="pull-left fs-12 text-muted">CPU Used</span><span class="pull-right label label-outline label-warning">65%</span></div>
              <div class="progress progress-xs mb-0">
                <div role="progressbar" data-transitiongoal="65" class="progress-bar progress-bar-warning"></div>
              </div>
            </li>
            <li class="mb-20">
              <div class="block clearfix mb-10"><span class="pull-left fs-12 text-muted">Bandwidth</span><span class="pull-right label label-outline label-danger">80%</span></div>
              <div class="progress progress-xs mb-0">
                <div role="progressbar" data-transitiongoal="80" class="progress-bar progress-bar-danger"></div>
              </div>
            </li>
          </ul>
        </div>
        
        
    </aside>
    <!-- Main Sidebar end-->
	
    <!-- Header start-->
    <header>
      <div class="brand pull-left"></div>
	  <a href="javascript:;" role="button" class="sidebar-toggle pull-left icon"><i class="ti-menu text-muted"></i></a>
      <ul class="notification-bar list-inline pull-right">
       <li class="hidden-xs">
		   <a href="javascript:;" role="button" class="icon fullscreen-toggle">
			   <i class="ti-fullscreen text-muted"></i>
		   </a>
	   </li>
            </ul>
    </header>
    <!-- Header end-->
	
    <!-- Content Here start-->
    <section class="wrapper">
      
	 <style>
		 .center {
		 text-align: center;
		 margin-top: 16%;
		 }
		 </style>
     <div data-ix="scroll-color" class="banner wf-section">
       <div class="center">
		   
    <img src="http://thevault.herokuapp.com/static/media/nat-logo-neurons-art-and-technology.png" width="284" sizes="(max-width: 991px) 100vw, 284px" srcset="http://thevault.herokuapp.com/static/media/nat-logo-neurons-art-and-technology-p-500.png 500w, http://thevault.herokuapp.com/static/media/nat-logo-neurons-art-and-technology-p-800.png 800w, http://thevault.herokuapp.com/static/media/nat-logo-neurons-art-and-technology-p-1080.png 1080w, http://thevault.herokuapp.com/static/media/nat-logo-neurons-art-and-technology.png 1248w" alt="neurons art and technology" class="image-2"></div>
   
	 </div>
 </div>
	 
	  
    </section>
    <!-- Content Here end-->
  
    <!-- Layout Settings start-->
    <div class="setting closed"><a href="javascript:;" class="setting-toggle fs-16"><i class="ti-settings text-muted"></i></a>
      <h4 class="fs-16 mt-0 mb-15">Layout Settings</h4>
      <form class="form-horizontal">
        <div class="clearfix">
          <h6 class="pull-left fs-13 fw-400">Fixed Header</h6>
          <div class="switch pull-right">
            <input id="fixed-header" type="checkbox">
            <label for="fixed-header" class="switch-success"></label>
          </div>
        </div>
        <div class="clearfix">
          <h6 class="pull-left fs-13 fw-400">Fixed Sidebar</h6>
          <div class="switch pull-right">
            <input id="fixed-sidebar" type="checkbox">
            <label for="fixed-sidebar" class="switch-success"></label>
          </div>
        </div>
        <div class="clearfix hidden-xs">
          <h6 class="pull-left fs-13 fw-400">Pinned Sidebar</h6>
          <div class="switch pull-right">
            <input id="pinned-sidebar" type="checkbox">
            <label for="pinned-sidebar" class="switch-success"></label>
          </div>
        </div>
        <div class="clearfix hidden-xs">
          <h6 class="pull-left fs-13 fw-400">Closed Sidebar</h6>
          <div class="switch pull-right">
            <input id="closed-sidebar" type="checkbox">
            <label for="closed-sidebar" class="switch-success"></label>
          </div>
        </div>
      
      </form>
    </div>
    <!-- Layout Settings End-->
   
    <!-- jQuery-->
    <script type="text/javascript" src="web/plugins/jquery/dist/jquery.min.js"></script>
    <!-- jQuery Cookie-->
    <script type="text/javascript" src="web/plugins/jquery.cookie/jquery.cookie.js"></script>
    <!-- Bootstrap JavaScript-->
    <script type="text/javascript" src="web/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
     <!-- Custom JS-->
    <script type="text/javascript" src="web/build/js/app.js"></script>
   
  
	
	
  </body>
</html>