<!DOCTYPE html>
<html lang="en">
  <head>
    <title>neurons.me</title>
  <%- include('../partials/header.ejs') %>
  
  </head>
  <body>
  
    <!-- Main Sidebar end-->
	<%- include('../partials/sideBar_menu.ejs') %>
	
    <!-- Header start-->
    <header>
      <div class="brand pull-left"></div>
	  <a href="javascript:;" role="button" class="sidebar-toggle pull-left icon"><i class="ti-menu text-muted"></i></a>
      <ul class="notification-bar list-inline pull-right">
       <li class="hidden-xs">
		   <a href="javascript:;" role="button" class="icon fullscreen-toggle">
			   <i class="ti-fullscreen text-muted"></i>
		   </a>
	   </li>
            </ul>
    </header>
    <!-- Header end-->
	
	
    <!-- Content Here start-->
    <section class="wrapper">
	 <style>
		 .center {
		 text-align: center;
		 margin-top: 16%;
		 }
		 </style>
  <div data-ix="scroll-color" class="banner wf-section">
  <div class="center">
    <img src="img/brain_nat.png" width="144" sizes="(max-width: 991px) 100vw, 284px" srcset="img/brain_nat.png 500w, img/brain_nat.png 1248w" alt="neurons art and technology" class="image-2">
  </div>
</div>
  <div class="center" style="margin-top: 5%;">
    <h4 class="heading-2" style="margin-top: 1;">
        <font style="color: rgb(234, 229, 229);">Creating and Connecting Dots.</font>
      </h4>
      </span>
  </div>
    </section>
    <!-- Content Here end-->
   
   
   <%- include('../partials/widgets/layout_settings.ejs') %>
   <%- include('../partials/footer.ejs') %>
  </body>
</html>