<!-- Layout Settings start-->
<div class="setting closed"><a href="javascript:;" class="setting-toggle fs-16"><i class="ti-settings text-muted"></i></a>
    <h4 class="fs-16 mt-0 mb-15">Layout Settings</h4>
    <form class="form-horizontal">
      <div class="clearfix">
        <h6 class="pull-left fs-13 fw-400">Fixed Header</h6>
        <div class="switch pull-right">
          <input id="fixed-header" type="checkbox">
          <label for="fixed-header" class="switch-success"></label>
        </div>
      </div>
      <div class="clearfix">
        <h6 class="pull-left fs-13 fw-400">Fixed Sidebar</h6>
        <div class="switch pull-right">
          <input id="fixed-sidebar" type="checkbox">
          <label for="fixed-sidebar" class="switch-success"></label>
        </div>
      </div>
      <div class="clearfix hidden-xs">
        <h6 class="pull-left fs-13 fw-400">Pinned Sidebar</h6>
        <div class="switch pull-right">
          <input id="pinned-sidebar" type="checkbox">
          <label for="pinned-sidebar" class="switch-success"></label>
        </div>
      </div>
      <div class="clearfix hidden-xs">
        <h6 class="pull-left fs-13 fw-400">Closed Sidebar</h6>
        <div class="switch pull-right">
          <input id="closed-sidebar" type="checkbox">
          <label for="closed-sidebar" class="switch-success"></label>
        </div>
      </div>
    </form>
  </div>
  <!-- Layout Settings End-->